<%- include("../partials/head.ejs")%>
  <body class="home__body">

    <%- include("../partials/header.ejs")%>
 
    <main>
        <section class="section-create-product">
            <form action="/products/createProduct" class="form-create-product" method="post" enctype="multipart/form-data">
                <div class="container-create-product">
                    <label for="nombre" id="nombre"> Ingrese el nombre del producto</label>
                    <input type="text" name="nombre" class="column">
                </div>
                <div class="container-create-product">
                    <label for="nombre" id="brand"> Ingrese la marca del producto</label>                    
                    <select name="" id="">
                        <% brands.forEach(brand => {  %>
                            <option value="<%= brand.id %>"><%= brand.name %></option>                    
                        <% }); %>
                    </select>
                </div>
                <div class="container-create-product">
                    <label for="descripcion" style="margin-bottom: 5vh;">Agregar especificación</label>
                    <a class="add-button" id="add-property"> Agregar + </a>
                    <div id="container-add-inputs"> </div>
                </div>
                
                <div class="container-create-product">
                    <label for="imagen" >Selecciona una imagen para el producto</label>
                    <input type="file" name="imagen" id="imagen" class="column" accept=".jpg .jpeg .png .gif .JPG .JPEG .PNG .GIF"  multiple></input>
                </div>
            
                <div class="container-create-product">
                    <label for="price">Precio</label>
                    <input type="number" name="price" placeholder="$" min=0 class="column">
                </div>
    
                <div class="botons_createProduct">
                    <button type="reset">Borrar</button>
                    <button type="submit">Crear</button>
                </div>
            </form>
        </section>
        <script src="/js/createProduct.js"></script>
    </main>
  </body>
</html>